<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>body</title>
    
</head>
<body>
    <section id="ofertas">
        <div id="oferta1">
            <div class="oferta1-1">
                <p class="textoaccs">accesorios</p>
                <p class="textorazas">razas pequeñas</p>
            </div>
            
        </div>
        <div id="layout1">
            <div id="oferta2">
                <div  id="textosalimentos"class="oferta1-1">
                    <p class="textoaccs">alimentos</p>
                    <p class="textorazas">ofertas en alimentos</p>
                </div>
            </div>
            <div id="oferta3">
                <div  id="textoscollares" class="oferta1-1">
                    <p class="textoaccs">nuevos collares</p>
                    <p class="textorazas">colección 2023</p>
                </div>

            </div>
            
            
            
        </div>
        
        
    </section>
    <section id="textoofertas">
        <h2>🐾Explora nuestras ofertas destacadas🐾</h2>
    </section>
    <section id="cards">
        <h3>Productos más vendidos</h3>
        <div id="cardscontainer">
            <div   class="card">
                <div id="card1"class="header"></div>
                <div class="info">
                  <p class="title">Cama para gatos</p>
                  <p>cama con forma de gato ideal para especímenes de corta edad </p>
                </div>
                <div class="footer">
                  <p class="tag">#Gatos #Camas </p>
                  <button type="button" class="action">$6700 </button>
                </div>
                </div>
                <div  class="card">
                    <div id="card2" class="header"></div>
                    <div class="info">
                      <p class="title">Correa reforzada</p>
                      <p>correa reforzada ideal para perros inquietos </p>
                    </div>
                    <div class="footer">
                      <p class="tag">#Perros #Accesorios </p>
                      <button type="button" class="action">$850 </button>
                    </div>
                    </div>
                    <div  class="card">
                        <div id="card3" class="header"></div>
                        <div class="info">
                          <p class="title">Juguete pelota</p>
                          <p>El preferido de las mascotas ahora también en forma de pelota. </p>
                        </div>
                        <div class="footer">
                          <p class="tag">#Juguetes #Accesorios </p>
                          <button type="button" class="action">$1500 </button>
                        </div>
                        </div>
                        <div  class="card">
                            <div id="card4" class="header"></div>
                            <div class="info">
                              <p class="title">Pad hipoalergénico</p>
                              <p>Pad simil cesped ideal para interiores. </p>
                            </div>
                            <div class="footer">
                              <p class="tag">#Perros #Gatos </p>
                              <button type="button" class="action">$3750 </button>
                            </div>
                            </div>
        </div>
    </section>
    
</body>
</html>