<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <span><mat-icon>pets</mat-icon></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/dashboard">HOME</a>
        <a class="nav-link" routerLink="/productos">PRODUCTOS</a>
        <a class="nav-link"routerLink="/quienes-somos">QUIENES SOMOS</a>
        <a class="nav-link" routerLink="registrarse">REGISTRARSE</a>
        <a class="nav-link" href="#">INICIAR SESIÓN</a>
        <a class="nav-link disabled"></a>
      </div>
    </div>
  </div>
</nav>
