


<footer class="fixed-bottom">
   <div class="container-fluid">
      <div class="column p-5 bg-secondary text-white text-center">
      <div class="col-md-3">
           <h3 >MASCOTEANDO</h3>

            <h6>WHATSAPP: 54 9 1167542155</h6>
         </div>
         <div class="col-md-3 ">
            <h6>DIRECCION: Carlos Casares 3159, Castelar. Buenos Aires</h6>
        </div>
        <div class="col-md-3">
            <h6>E-MAIL: Mascoteando.por.la.vida@gmail.com</h6>
        </div>


        <div class="footer_brand">
        <h3 class="brand_titulo">Sobre Nosotros</h3>
        <br />
           <p class="p_style">
              Somos una tienda que nos ocupamos de ofrecerte todo lo necesario para consentir a los mas mimados del hogar, con las opciones mas lindas, de la mas alta calidad y al mejor precio
            </p>
         </div>
          <ul class="p_links">
             <li><a href="#">Quienes Somos</a></li>

     <li><a href="#">Metodos de pago</a></li>

          <li><a href="#">solicitud de devolución</a></li>
          <li><a href="#">metodos de envio</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          </ul>
          <div class="devs">
          <h2 class="h2Dev">Desarrolladores:</h2>

          <p class="devs_ul">

                <a href="#">Alfredo</a>
                -
                <a href="#">Celeste</a>
                -
                <a href="#">Joaquin</a>
                -
                <a href="#">Paula</a>
                -
                <a href="#">Sofía</a>
                </p>
                </div>
                <div class="devs_final">
                <p class="final_copyright">
                Desde 2019 - 2023 © Mascoteando
                <a href="#">www.Mascoteando.com</a>
                </p>

   </div>
  </div>

   </div>

  </footer>
